# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Debugger configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Coverage directory
coverage/
